<!-- Services Section Start -->
<header id="home" class="hero-area">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>
  <app-public-header></app-public-header>
  <div class="container">
    <div class="row space-100">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">AgilveHive, not another software tool</h2>
          <p>Automation platform for perfectionists.</p>
          <div class="header-button">
            <a routerLink="/login"  rel="nofollow" class="btn btn-border-filled">Login Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 p-0">
        <div class="intro-img">
          <img src="assets/img/landing/intro.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</header>

<div data-spy="scroll" data-target="#public-navbar" data-offset="0">
<section id="services" class="section">
  <div class="container">

    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="services-item text-center">
          <div class="icon">
            <i class="lni-cog"></i>
          </div>
          <h4>Automated integrations</h4>
          <p>Be able to create integerations across thousand of apps and integerate with a marketplace full of opensource integrations.</p>
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="services-item text-center">
          <div class="icon">
            <i class="lni-brush"></i>
          </div>
          <h4>Extensible Platform</h4>
          <p>
            Take full use of our APIs and SDKs to be able to integerate custom workflows within our platform and take your business to the next level.
          </p>
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="services-item text-center">
          <div class="icon">
            <i class="lni-heart"></i>
          </div>
          <h4>Be within a strong community</h4>
          <p>Ask questions on our wiki and get help from thousand of users who are proeffecient in our platform and can provide you help right away.</p>
        </div>
      </div>
      <!-- End Col -->

    </div>
  </div>
</section>
<!-- Services Section End -->



<!-- Business Plan Section Start -->
<section id="business-plan">
  <div class="container">

    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
        <div class="business-item-img">
          <img src="/assets/img/landing/business/business-img.png" class="img-fluid" alt="">
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-6 col-md-12 pl-4">
        <div class="business-item-info">
          <h3>Crafted For Business, Startup and Agency Websites</h3>
          <p>
            Join the world of automated business processes where you will be able to integerate your normal software development process with the business process through a set of tools and techniques. <br> Make use of the powerful scheduler and AI Task assigner.
          </p>

          <a class="btn btn-common" routerLink="/register">Join Now</a>
        </div>
      </div>
      <!-- End Col -->

    </div>
  </div>
</section>
<!-- Business Plan Section End -->



<!-- Cool Fetatures Section Start -->
<section id="features" class="section">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="features-text section-header text-center">
          <div>
            <h2 class="section-title">Services We Provide</h2>
            <div class="desc-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row featured-bg">
      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
          <!-- Start Fetatures -->
        <div class="feature-item featured-border1">
            <div class="feature-icon float-left">
              <i class="lni-coffee-cup"></i>
            </div>
            <div class="feature-info float-left">
              <h4>Easy to Customize</h4>
              <p>With over 5 different ways to use our platform, you will be able to either integerate with one of our already-made tools or create a full platform in your own style for your business based on this one.</p>
            </div>
        </div>
        <!-- End Fetatures -->
      </div>
        <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
          <!-- Start Fetatures -->
        <div class="feature-item featured-border2">
            <div class="feature-icon float-left">
              <i class="lni-briefcase"></i>
            </div>
            <div class="feature-info float-left">
              <h4>Templated Projects</h4>
              <p>You will be able to access thousand of pre-defined templates and you will also be able to save and re-use those templates.</p>
            </div>
        </div>
        <!-- End Fetatures -->
      </div>
        <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
          <!-- Start Fetatures -->
        <div class="feature-item featured-border1">
            <div class="feature-icon float-left">
              <i class="lni-invention"></i>
            </div>
            <div class="feature-info float-left">
              <h4>Clean & Trendy Design</h4>
              <p>Our easy-to-use the platform with a clean UI/Ux that you will be able to use easily without having to jump through hoops.</p>
            </div>
        </div>
        <!-- End Fetatures -->
      </div>
        <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
          <!-- Start Fetatures -->
        <div class="feature-item featured-border2">
            <div class="feature-icon float-left">
            <i class="lni-layers"></i>
            </div>
            <div class="feature-info float-left">
              <h4>Chat with your team at ease</h4>
              <p>Easily chat with your team and integerate syncing of actions and messages with slack and other platforms. </p>
            </div>
        </div>
        <!-- End Fetatures -->
      </div>
        <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
          <!-- Start Fetatures -->
        <div class="feature-item featured-border3">
            <div class="feature-icon float-left">
              <i class="lni-reload"></i>
            </div>
            <div class="feature-info float-left">
              <h4>Free Access forever</h4>
              <p>You will be able to integerate with our app free of charge up to 10 team members! <br> No credit card required, no information, just straight to your projects after signing up. </p>
            </div>
        </div>
        <!-- End Fetatures -->
      </div>
        <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
          <!-- Start Fetatures -->
        <div class="feature-item">
            <div class="feature-icon float-left">
              <i class="lni-support"></i>
            </div>
            <div class="feature-info float-left">
              <h4>Premier Support</h4>
              <p>Our 24/7 representitives will always <br> support your case through our discord servers and 24/7 support.</p>
            </div>
        </div>
        <!-- End Fetatures -->
      </div>
        <!-- End Col -->


    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Cool Fetatures Section End -->



<!-- Our Pricing Plan Section Start -->
<section id="pricing" class="section">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="pricing-text section-header text-center">
          <div>
            <h2 class="section-title">Pricing Plans</h2>
            <div class="desc-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
              <p>eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row pricing-tables">
      <!--  Start Col -->
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table text-center">
          <div class="pricing-details">
            <h3>Free</h3>
            <h1><span>$</span>00</h1>
            <ul>
              <li>Free Instalation</li>
              <li>500MB Storage</li>
              <li>10 Users</li>
              <li>5 GB Bandwith</li>
              <li>Minimal Features</li>
              <li>Dashboard</li>
            </ul>
          </div>

        </div>
      </div>
        <!--  End Col -->
      <!--  Start Col -->
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table text-center">
          <div class="pricing-details">
            <h3>standard</h3>
            <h1><span>$</span>19.99</h1>
            <ul>
              <li>Free Instalation</li>
              <li>2 GB Storage</li>
              <li>Upto 2 users</li>
              <li>50 GB Bandwith</li>
              <li>All Features</li>
              <li>Sales Dashboard</li>
            </ul>
          </div>

        </div>
      </div>
        <!--  End Col -->
      <!--  Start Col -->
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pricing-table text-center">
          <div class="pricing-details">
            <h3>Business</h3>
            <h1><span>$</span>29.99</h1>
            <ul>
              <li>Free Instalation</li>
              <li>5 GB Storage</li>
              <li>Upto 4 users</li>
              <li>100 GB Bandwith</li>
              <li>All Features</li>
              <li>Sales Dashboard</li>
            </ul>
          </div>
        </div>
      </div>
        <!--  End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Our Pricing Plan Section End -->

<!-- Client Testimoninals Section Start -->
<section id="testimonial" class="section">
  <div class="container right-position">
    <!-- Start Row -->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="video-promo-content text-center">

          <a id="play-video" class="video-play-button video-popup" href="https://www.youtube.com/watch?v=Y4fodpIwal8&list=RDXCElIIYx_8s&index=13">
            <span></span>
          </a>

        </div>
      </div>
    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row justify-content-center testimonial-area">
      <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 pr-20 pl-20" style="overflow: hidden;padding-bottom: 60px">
        <div id="client-testimonial" class="text-center owl-carousel">
          <div class="item">
            <div class="testimonial-item">
              <div class="content-inner">
                <p class="description">Appropriately implement one-to-one catalysts for change <br> vis-a-vis wireless catalysts for change. Enthusiastically architect <br> adaptive e-tailers after sustainable total linkage. Appropriately <br> implement one-to-one catalysts for change.</p>
                <div class="author-info">
                  <h5>Tahmina Anny ; <span> UIdeck Customer</span></h5>
                </div>
              </div>
              <div class="client-thumb">
                <img src="/assets/img/landing/testimonial/01.png" alt="">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="content-inner">
                <p class="description">Appropriately implement one-to-one catalysts for change <br> vis-a-vis wireless catalysts for change. Enthusiastically architect <br> adaptive e-tailers after sustainable total linkage. Appropriately <br> implement one-to-one catalysts for change.</p>
                <div class="author-info">
                  <h5>Tahmina Anny ; <span> UIdeck Customer</span></h5>
                </div>
              </div>
              <div class="client-thumb">
                <img src="/assets/img/landing/testimonial/01.png" alt="">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="content-inner">
                <p class="description">Appropriately implement one-to-one catalysts for change <br> vis-a-vis wireless catalysts for change. Enthusiastically architect <br> adaptive e-tailers after sustainable total linkage. Appropriately <br> implement one-to-one catalysts for change.</p>
                <div class="author-info">
                  <h5>Tahmina Anny ; <span> UIdeck Customer</span></h5>
                </div>
              </div>
              <div class="client-thumb">
                <img src="/assets/img/landing/testimonial/01.png" alt="">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="content-inner">
                <p class="description">Appropriately implement one-to-one catalysts for change <br> vis-a-vis wireless catalysts for change. Enthusiastically architect <br> adaptive e-tailers after sustainable total linkage. Appropriately <br> implement one-to-one catalysts for change.</p>
                <div class="author-info">
                  <h5>Tahmina Anny ; <span> UIdeck Customer</span></h5>
                </div>
              </div>
              <div class="client-thumb">
                <img src="/assets/img/landing/testimonial/01.png" alt="">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="content-inner">
                <p class="description">Appropriately implement one-to-one catalysts for change <br> vis-a-vis wireless catalysts for change. Enthusiastically architect <br> adaptive e-tailers after sustainable total linkage. Appropriately <br> implement one-to-one catalysts for change.</p>
                <div class="author-info">
                  <h5>Tahmina Anny ; <span> UIdeck Customer</span></h5>
                </div>
              </div>
              <div class="client-thumb">
                <img src="/assets/img/landing/testimonial/01.png" alt="">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="content-inner">
                <p class="description">Appropriately implement one-to-one catalysts for change <br> vis-a-vis wireless catalysts for change. Enthusiastically architect <br> adaptive e-tailers after sustainable total linkage. Appropriately <br> implement one-to-one catalysts for change.</p>
                <div class="author-info">
                  <h5>Tahmina Anny ; <span> UIdeck Customer</span></h5>
                </div>
              </div>
              <div class="client-thumb">
                <img src="/assets/img/landing/testimonial/01.png" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Client Testimoninals Section End -->


<!-- Team section Start -->
<section id="team" class="section">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="team-text section-header text-center">
          <div>
            <h2 class="section-title">Team Members</h2>
            <div class="desc-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
              <p>eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/assets/img/landing/team/01.jpg" class="img-fluid" alt="">
          </div>

          <div class="team-details">
          <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Mahmoud Amr</h5>
              <p>Team Lead</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Col -->

      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/assets/img/landing/team/02.jpg" class="img-fluid" alt="">
          </div>

          <div class="team-details">
          <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Mohamed El Saeed</h5>
              <p>Backend Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Col -->

      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/assets/img/landing/team/03.jpg" class="img-fluid" alt="">
          </div>

          <div class="team-details">
          <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Kareem Ali</h5>
              <p>Frontend Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Col -->

      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/assets/img/landing/team/04.jpg" class="img-fluid" alt="">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Mohamed Sherif</h5>
              <p>AI Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/assets/img/landing/team/04.jpg" class="img-fluid" alt="">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Menna Shehab</h5>
              <p>Backend Developer</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/assets/img/landing/team/04.jpg" class="img-fluid" alt="">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Youssef Mohamed Abd El Menoim</h5>
              <p>Backend Developer</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Team section End -->

<!-- Contact Us Section -->
<section id="contact" class="section">
  <!-- Container Starts -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-text section-header text-center">
          <div>
            <h2 class="section-title">Get In Touch</h2>
            <div class="desc-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
              <p>eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-6 col-md-12">
      <form id="contactForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" placeholder="Subject" id="msg_subject" class="form-control" name="msg_subject" required data-error="Please enter your subject">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" required data-error="Please enter your Email">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" placeholder="Budget" id="budget" class="form-control" name="budget" required data-error="Please enter your Budget">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control" id="message"  name="message" placeholder="Write Message" rows="4" data-error="Write your message" required></textarea>
              <div class="help-block with-errors"></div>
            </div>
            <div class="submit-button">
              <button class="btn btn-common" id="submit" type="submit">Submit</button>
              <div id="msgSubmit" class="h3 hidden"></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </form>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-1">

      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-12">
        <div class="contact-img">
          <img src="/assets/img/landing/contact/01.png" class="img-fluid" alt="">
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-1">
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Contact Us Section End -->
</div>
