<nav class="navbar navbar-expand-md fixed-top" id="public-navbar" [class.menu-bg]="true">
    <div class="container">
      <a href="index.html" class="navbar-brand"><img src="assets/img/landing/logo-no-background.svg" class="w-25" alt=""></a>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Organizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="display: flex; align-items: center;">
              <i class="fa-solid fa-right-from-bracket" style="margin-right: 10px;"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  